* {
    margin: 0cm;
    padding: 0cm;
    font-family: 'Times New Roman';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color:rgb(200, 173, 127);
    height: 100vh;
}

/*CONFIGURAÇÃO CABEÇALHO*/

.ativa {
    background-color: #9c6144;
    color: rgb(255, 255, 255);
    box-shadow: 2px 4px 20px rgb(0, 0, 0);
}

nav {
    background-color: #613927;
    box-shadow: 2px 4px 20px rgb(0, 0, 0);
    padding: 2%;
    position: relative;
    width: 100%;
}

nav ul {
    text-align: right;
}

nav ul li {
    text-decoration: none;
    display: inline;
    margin: 0.5%;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Times New Roman';
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #81523c;
    border-radius: 8px;
    transition: 0.5s;
}

nav ul li :hover {
    background-color: #9c6144;
    box-shadow: 2px 4px 20px rgb(0, 0, 0);
    transition: 1s;
}

/*FIM*/

/*CONFIGURAÇÃO CORPO*/

section {
    margin-top: 50px;
}


p {
    text-align: justify;
    text-indent: 1.5em;
    font-size: 25px;
    margin: 30px;
}

.section1 {
    display: flex;
    margin: 30px;
    width: 80%;
    margin-bottom: 80px;
    justify-content: center;

}

.section2 {
    display: flex;
    margin: 30px;
    width: 80%;
    margin-bottom: 80px;
}

.section3 {
    display: flex;
    margin: 30px;
    width: 80%;
    margin-bottom: 80px;
}

.section4 {
    display: flex;
    margin: 30px;
    width: 80%;
    margin-bottom: 80px;
}

.section5 {
    display: flex;
    margin: 30px;
    width: 80%;
    margin-bottom: 80px;
}

.section6 {
    display: flex;
    margin: 30px;
    width: 80%;
    margin-bottom: 80px;
}

.section7 {
    display: flex;
    margin: 30px;
    width: 80%;

}

.modelos {
    text-align: center;

}

hr {
    margin: 0px 8px;
    width: 4px;
    display: inline;
}

h6 {
    font-weight: normal;
    font-size: 25px;
    display: inline;

}

/*FIM*/

/*CONFIGURAÇÃO IMAGENS*/

img {
    display: flex;
    height: 30%;
    width: 30%;
}

.imagem1 {
    display: flex;
    justify-content: center;
}

.imagem1 img {
    height: 55%;
    width: 53.5%;
    transition: 1s;
}

.imagem1 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.section1 img {
    margin: 20px;
    transition: 1s;

}

.section1 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.section2 img {
    margin: 20px;
    transition: 1s;
}

.section2 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.section3 img {
    margin: 20px;
    transition: 1s;
}

.section3 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.section4 img {
    margin: 20px;
    transition: 1s;
}

.section4 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.section5 img {
    margin: 20px;
    transition: 1s;
}

.section5 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.section6 img {
    margin: 20px;
    transition: 1s;
}

.section6 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.section7 img {
    margin: 20px;
    transition: 1s;
}

.section7 img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

.modelos img {
    box-shadow: 2px 4px 20px rgb(0, 0, 0);
    background-color: #ffffffb6;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
    transition: 1s;
}

.modelos img:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 50px;
}

/*FIM*/

/*CONFIGURAÇÃO FORMULARIO*/

h4{
    font-size: 35px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

input {
    color: rgba(0, 0, 0, 0.718);
    background-color: rgba(255, 255, 255, 0.699);
    display: flex;
    box-shadow: 3px 3px 9px #000000;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    
}

form{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    margin: 50px;
    justify-content: center;
}

.form{
    justify-content: center;
    display: flex;
}

.botao {
    display: flex;
    justify-content: center;
}

.enviar {
    color: #000000;
    background-color: rgba(0, 255, 0, 0.5);
    width: 30%;
    font-size: 26px;
    padding: 20px;
    margin-right: 20px;
    
}

.resetar {
    color: #000000;
    background-color: rgba(255, 0, 0, 0.5);
    width: 30%;
    padding: 20px;
    font-size: 26px;
    margin-left: 20px;
}

textarea {
    padding: 10px;
    display: flex;
    justify-content: center;
    resize: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.718);
    background-color: rgba(255, 255, 255, 0.699);
}

.seta2{
    display: flex;
    padding: 3px;
    border-radius: 10px;
    background-color: #000000;
    width: 4%;
    margin-left: 20px;
}

.seta2 a img {
    height: 50px;
    width: 50px;
    rotate: -90deg;


}



/*FIM*/

/*CONFIGURAÇÃO RODAPÉ*/

footer {
    display: flex;
    margin-top: 30px;
    background-color: #000000;
    justify-content: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: 2px 4px 20px rgb(0, 0, 0);
}

.footer2 {
        position: absolute;
        bottom: 0px;
    }

h5{
        color: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        align-items: center;
    
    }

.nome {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;

}

.nome :hover {
    text-decoration: underline;
}

.seta {
    display: flex;
    padding: 3px;
    border-radius: 10px;
    right: 0;
    position: absolute;

}

.seta a img {
    height: 50px;
    width: 50px;

}

.seta :hover {
    transition: 0.5s;
    background-color: rgba(65, 64, 64, 0.507);
    border-radius: 20px;
}

/*FIM*/

/*RESPONCIVIDADE*/

@media screen and (max-width:570px){

    nav{
        padding: 6%;
        height: 90px;
        justify-content: center;
        
    }

    nav ul{
        display: flex;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: 25px;
        padding: 5px;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    p {
        font-size: 18px;
        margin: 20px;
    }

    .imagem1 img {
        height: 90%;
        width: 90%;
    }

    .section1 {
        display: block;
    }

    .section1 img{
        height: 90%;
        width: 90%;
    }

    
    .section2 {
        display: block;
    }

    .section2 img{
        height: 90%;
        width: 90%;
    }
    
    .section3 {
        display: block;
    }

    .section3 img{
        height: 90%;
        width: 90%;
    }
    
    .section4 {
        display: block;
    }

    .section4 img{
        height: 90%;
        width: 90%;
    }
    
    .section5 {
        display: block;
    }

    .section5 img{
        height: 90%;
        width: 90%;
    }
    
    .section6 {
        display: block;
    }

    .section6 img{
        height: 90%;
        width: 90%;
    }

    .section7 {
        display: block;
    
    }

    .section7 img{
        height: 90%;
        width: 90%;
    }

    .modelos{
        display: inline;
        text-align: center;
        justify-content: center;
    }

    .modelos img {
        box-shadow: 2px 4px 20px rgb(0, 0, 0);
        background-color: #ffffffb6;
        padding: 5px;
        margin: 30px;
        border-radius: 10px;
        height: 90%;
        width: 90%;
        margin-right: 90px;
    }

    h6 {
        font-size: 25px;
        display: flex;
        justify-content: center;
    
    }

    footer {
        margin-top: 50px;
        height: 100px;
        position: relative;
        bottom: 0px;
    }

    .footer2 {
        position: absolute;
        bottom: 0px;
    }

    h5{
        padding-left: 50px;
        font-size: 20px;
    }
    
    .nome {
        font-size: 18px;
        margin-right: 60px;
        text-align: center;
    }

    .seta a img {
        height: 60px;
        width: 60px;
    
    }

    h4{
        justify-content: center;
        font-size: 30px;
    }
    
    input {
        
        display: flex;
        font-size: 17px;
        width: 90%;
        padding: 10px;
        
    }
    
    form{
        margin-left: 90px;
        justify-content: center;
    }
    
    .botao {
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }
    
    .enviar {
        padding: 10px;
        margin-right: 10px;
        font-size: 20px;
        
    }
    
    .resetar {
        padding: 6px;
        margin-left: 10px;
        font-size: 20px;
    }
    
    textarea {
        width: 90%;
    }

    .seta2{
        padding: 3px;
        border-radius: 10px;
        width: 11%;
        margin-left: 20px;
    }
    
    .seta2 a img {
        height: 50px;
        width: 50px;
        rotate: -90deg;
    }

}

/*FIM*/
